span{
    font-weight: bolder; 
}
h1{
    margin:0  20px;
    padding-top: 4.25rem;
    padding-left: 4.375rem;
    background-color: #3f8ef9;
    box-sizing: border-box;
    float: left;
    width: 12.5rem;
    height:800px;
    color: white;
}